<%= render 'navbar' %>

<%= link_to 'Voltar', @user %>

<h1>Atualização do Perfil</h1>

<% @user.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<div>
<%= form_with model: @user, local: true do |f| %>
  <div>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
  </div>
  <div>
      <%= f.label :social_name %>
      <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>
  <div>
    <%= f.label :job_position %>
    <%= f.text_field :job_position %>
  </div>
  <div>
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>
  <%= f.submit 'Atualizar' %>
<% end %>
</div>
