<%= render 'navbar' %>
<%= link_to 'Voltar', root_path %>

<%= link_to 'Propostas', proposals_path %>

  <h1>Dados do Usuário</h1>

  <h2><%= @user.social_name %></h2>
  <h3><%= @user.job_position %></h3>
  <h3><%= @user.department %></h3>

<% if current_user.id == @user.id %>
  <h3><%= @user.full_name %></h3>
  <h3><%= l @user.birth_date, default: '' %></h3>

  <%= link_to 'Editar Dados', edit_user_path %>
  <%= link_to 'Trocar Senha', edit_user_registration_path %>
<% end %>

<h1>Produtos Anunciados</h1>

<% if @products.blank? %>
  <h3>Nenhum produto cadastrado</h3>
<% else %>
  <% @products.each do |product|%>
    <% if product.picture.attached? %>
      <%= image_tag product.picture %>
    <% else %>
      <%= image_tag 'product_default2.png', class: 'product-default' %>
    <% end %>
    <p><%= link_to product.name, product %></p>
  <% end %>
<% end %>

