
<nav>
<% if user_signed_in? %>
  <% if current_user.full_name.blank? %>
    <%= link_to 'Perfil' %>
  <% else %>
  <%= link_to current_user.full_name %>
  <% end %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Entrar', new_user_session_path %>
<% end %>
  <%= link_to 'Cadastrar', register_path %>
</nav>
<h1>you Shop</h1>
<p>Conecte-se com colaboradores de sua empresa para anunciar e encontrar produtos dos mais variados!</p>
<p>Cadastre-se já!</p>
<%= link_to 'Cadastro de Usuário' %>
<%= link_to 'Cadastro de Empresa', new_company_path %>
<%= link_to 'Empresas Cadastradas', companies_path %>
