<nav>
  <%= link_to 'Entrar' %>
  <%= link_to 'Cadastro' %>
</nav>
<h1>you Shop</h1>
<p>Conecte-se com colaboradores de sua empresa para anunciar e encontrar produtos dos mais variados!</p>
<p>Cadastre-se já!</p>
<%= link_to 'Cadastro de Usuário' %>
<%= link_to 'Cadastro de Empresa', new_company_path %>
<%= link_to 'Empresas Cadastradas', companies_path %>
