<%= render 'navbar' %>
<%= link_to 'Voltar', companies_path %>

<h1>Cadastro de Empresa</h1>

<% @company.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<div>
  <%= form_with model: @company, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :cnpj %>
      <%= f.text_field :cnpj %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: 'ex: Rua, número, complemento, cidade, estado', size: '42' %>
    </div>
    <div>
      <%= f.label :user_email, 'Email do usuário' %>
      <%= f.text_field :user_email, placeholder: 'ex: email@empresa.com', size: '22'%>
    </div>
    <%= f.submit 'Enviar' %>
  <% end %>
</div>