<%= render 'navbar' %>
<%= link_to 'Voltar', proposals_path %>

<h1>Propostas Recebidas</h1>

<p><%= link_to 'Rejeitadas', rejected_proposals_path %></p>

<%= 'Nenhuma proposta recebida.' if @proposals.empty? %>

<% @proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.buyer), proposal %></p>
<% end %>