<%= render 'navbar' %>
<%= link_to 'Voltar', proposals_path %>

<h1>Propostas Enviadas</h1>

<%= link_to 'Canceladas', cancelled_proposals_path %>

<% if @waiting_proposals.empty? && @approved_proposals.empty? && @denied_proposals.empty? %>
    <p>Nenhuma proposta enviada.</p>
<% end %>

<h2>Aguardando Resposta</h2>
<p><%= 'Nenhuma proposta encontrada.' if @waiting_proposals.empty? %></p>
<% @waiting_proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.seller), proposal %><p>
<% end %>

<h2>Aprovada</h2>
<p><%= 'Nenhuma proposta encontrada.' if @approved_proposals.empty? %></p>
<% @approved_proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.seller), proposal %><p>
<% end %>

<h2>Rejeitada</h2>
<p><%= 'Nenhuma proposta encontrada.' if @denied_proposals.empty? %></p>
<% @denied_proposals.each do |proposal| %>
    <p><%= link_to proposal.description(proposal.seller), proposal %><p>
<% end %>