<%= render 'navbar' %>
<%= link_to 'Voltar', proposals_path %>

<h1>Proposta</h1>

<dl>
  <dt> <%= Proposal.human_attribute_name :product %></dt>
  <dd><%= link_to @proposal.product.name, product_path(@proposal.product.id) %></dd>
  <dt> Preço Pedido</dt>
  <dd><%= number_to_currency @proposal.product.price %></dd>
  <dt><%= Proposal.human_attribute_name :proposed_price %></dt>
  <dd><%= number_to_currency @proposal.proposed_price %></dd>
  <dt><%= Proposal.human_attribute_name :quantity %></dt>
  <dd><%= @proposal.quantity %></dd>
  <dt><%= Proposal.human_attribute_name :seller %></dt>
  <dd><%= link_to @proposal.seller.social_name, user_path(@proposal.seller.id) %></dd>
  <dt><%= Proposal.human_attribute_name :buyer %></dt>
  <dd><%= link_to @proposal.buyer.social_name, user_path(@proposal.buyer.id) %></dd>
  <dt><%= Proposal.human_attribute_name :status %></dt>
  <dd><%= Proposal.human_attribute_name( "status.#{@proposal.status}")%></dd>
</dl>

<% if current_user.email == @proposal.seller.email %>
  <% if @proposal.waiting? %>
    <p><%= link_to 'Aceitar', accept_proposal_path(@proposal), method: :post %></p>
    <p><%= link_to 'Rejeitar', deny_proposal_path(@proposal), method: :post %></p>
  <% end %>
<% else %>
  <p><%= link_to 'Cancelar', cancel_proposal_path(@proposal), method: :post, 
          data: {confirm: 'Tem certeza que quer cancelar essa proposta?'} %></p>
<% end %>


