<%= link_to 'Voltar', root_path %>

<h1><%= "Produtos de #{current_user.company.name}" %></h1>
<%= form_with url: search_products_path, method: :get, local: true do |f| %>
    <%= f.label :q, 'Busca' %>
    <%= f.text_field :q %>
    <%= f.submit 'Buscar' %>

<% end %>

<%= 'Ainda não existem produtos cadastrados.' if @products.empty? %>

<% @products.each do |product| %>
    <div>
        <% if product.picture.attached? %>
            <%= image_tag product.picture, class: 'product-picture' %>
        <% else %>
            <%= image_tag 'product_default2.png', class: 'product-default' %>
        <% end %>
        <p><%= link_to product.name, product %></p>
        <p><%= number_to_currency product.price %></p>
        <%= link_to "#{product.user.social_name} - #{product.user.department}", product.user %>
    </div>
<% end %>
