<%= render 'navbar' %>

<%= link_to 'Voltar', root_path %>

<h1><%= "Produtos de #{current_user.company.name}" %></h1>

<%= 'Ainda não existem produtos cadastrados.' if @products.empty? %>

<% @products.each do |product| %>
    <div>
        <% if product.picture.attached? %>
            <%= image_tag product.picture %>
        <% else %>
            <%= image_tag 'product_default2.png', class: 'product-default' %>
        <% end %>
        <%= link_to product.name, product %>
        <p><%= number_to_currency product.price, class: 'product-picture' %></>
        <p><%= "#{product.user.social_name} - #{product.user.department}" %></p>
    </div>
<% end %>
