<%= render 'navbar' %>
<%= link_to 'Voltar', products_path %>

<h1><%= @product.name %></h1>

<% if @product.picture.attached? %>
    <%= image_tag @product.picture, class: 'product-picture' %>
<% else %>
    <%= image_tag 'product_default2.png', class: 'product-default' %>
<% end %>

<h3><%= @product.description %></h3>
<h3><%= number_to_currency @product.price %></h3>
<h3><%= "#{Product.human_attribute_name :category}: #{@product.category.name}" %></h3>
<h3><%= "#{Product.human_attribute_name :condition}: #{Product.human_attribute_name("condition.#{@product.condition}")}" %></h3>
<h3><%= "#{Product.human_attribute_name :quantity}: #{@product.quantity}" %></h3>
<%= link_to "Vendedor(a): #{@product.user.social_name} - #{@product.user.department}", @product.user %>

<% if current_user.id == @product.user.id %>
<h3><%= "#{Product.human_attribute_name :status}: #{Product.human_attribute_name("status.#{@product.status}")}" %></h3>
<%= link_to 'Editar Anúncio', edit_product_path(@product) %>
<% end %>

<h2>Comentários</h2>
<%= 'Não existem comentários.' if @comments.empty? %>
<% @comments.each do |comment| %>
  <% if comment.user.id == @product.user.id %>
      <p><%= link_to "#{comment.user.social_name} (Vendedor(a)):", comment.user %></p>
  <% else %>
      <p><%= link_to "#{comment.user.social_name}:", comment.user %></p>
  <% end %>
  <p><%= comment.content %></p>
<% end %>

<%= form_with model: @comment, url: product_comments_path(@product), local: true do |f| %>
  <p><%= f.label 'Comentário' %></p>
  <p><%= f.text_area :content %></p>
  <p><%= f.submit 'Enviar Comentário' %></p>
<% end %>

<h2>Mensagens Privadas</h2>
<p>As mensagens privadas só são visíveis para você e para o comprador.</p>

<% if current_user.id == @product.user.id && !@messages.empty? %>
  <% @users.each do |user| %>
    <%= link_to user.social_name, user_path(user.id) if user != current_user %>
    <% received_messages = @messages.where(sender: user) %>
    <% sent_messages = @messages.where(sender: current_user, recipient: user) %>
    <% user_messages = (received_messages + sent_messages).sort_by { |obj| obj.created_at }%> 
    <% user_messages.each do |message| %>
      <dl>
        <% if message.sender == current_user %>
          <dt><%= 'Você:' %></dt>
          <dd><%= message.content %></dd>
        <% else %>
          <dt><%= "#{message.sender.social_name}:" %></dt>
          <dd><%= message.content %></dd>
        <% end %>
      </dl>
    <% end %>
  <% end %>
<% elsif !@messages.empty? %>

  <% @available_messages.each do |message| %>
    <dl>
      <% if message.sender == current_user %>
        <dt><%= 'Você:' %></dt>
        <dd><%= message.content %></dd>
      <% else %>
        <dt><%= "#{message.sender.social_name}:" %></dt>
        <dd><%= message.content %></dd>
      <% end %>
    </dl>
  <% end %>
<% end %>
