<!DOCTYPE html>
<html>
  <head>
    <title>youShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Cadastrar Produto', new_product_path %>
        <%= link_to 'Produtos', products_path %>
      <% if current_user.social_name.blank? %>
        <%= link_to 'Perfil', user_path(current_user.id) %>
      <% else %>
        <%= link_to current_user.social_name, user_path(current_user.id) %>
      <% end %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
        <%= link_to 'Cadastrar', register_path %>
      <% end %>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
